
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    color: rgba(68, 68, 68, 0.9);
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

li {
    display:inline;
    padding:0;
}

 a {
    color:inherit;
}

nav {
    display:flex;
    justify-content: space-between;
    margin-top:1%;
    font-size:0.8em;
    align-items:center;
}

nav .nav-left {
    display: flex;
   margin-left:3%;
   align-items:center;   
}
nav .nav-right {
    display: flex;
    margin-right:3%;
    align-items:center;
}

nav .nav-left li:not(:first-child) {
    padding-left:10px;
}

nav .nav-right li:not(:last-child){
 padding-right:10px;
}

#apps i {
font-size:1.5em;
}

#profile img {
    border-radius:50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:5%;
}

main input {
    width:80%;
    border-radius:10px;
    line-height:2em;
    margin-top:30px;
    padding-left:10px;
    font-size:1em;
    color: rgba(68, 68, 68, 0.9);
    border:1px solid #ccc;
   box-shadow: 2px 2px 5px #ccc;
}

main input:focus {
    outline:none;
}

@media screen and (min-width: 600px) {
    main input {
        width:40%;
    }
}

.search-buttons {
    display: flex;
    margin-top:30px;
}


.search-buttons button {
    background-color:#F8F9FA;
    border:none;
    padding:10px;
}

.search-buttons button:first-child {
    margin-right:13px;
}
.search-buttons:last-child{
    margin-left:13px;
}

footer {
   position: fixed;
   bottom:0;
   left:0;
   width:100%;
   height:40px;
   padding-bottom:10px;
   font-size:0.9em;
   background-color: #F2F2F2;
}


.footer-links {
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    height:100%;
  
}

.footer-left {
    display: flex;
    margin-left:3%;
    align-items:center;  
}

.footer-left {
    display: flex;
    margin-left:3%;
    align-items:center;  
}

.footer-right {
    display: flex;
    margin-right:3%;
    align-items:center;  
}

.footer-left li:not(:first-child) {
    padding-left:10px;
}

.footer-right li:not(:last-child){
 padding-right:10px;
}